* {
    user-select: none;
}

.wallpaper {
    position: fixed;

    top: -1vh;
    left: -1vw;

    height: 102vh;
    width: 102vw;

    z-index: -1;

    filter: blur(3px);
}


/* 顶栏 */
.top {
    top: 10px;
}

.left {
    left: 0;
    width: 25vw;

    position: fixed;
}

/* 标题 */
.topic {
    height: 395px;
    background-color: rgb(99, 99, 138);
    
    overflow: hidden;

    border-radius: 0px 10px 10px 0px / 0px 10px 10px 0px;

    transition: all 0.5s ease 0s;
}

.topic[fold] {
    height: 50px;
}

/* 日志 */
.log {
    background-color:rgb(234, 242, 244);

    white-space: pre-line;

    margin: 12px;
    margin-left:0;
    padding: 10px;

    height: 300px;
    overflow: auto;

    border-radius: 0px 10px 10px 0px / 0px 10px 10px 0px;
}

/* 概况 */
.overview {
    margin: 10px;
    padding: 5px;

    border-radius: 5px;

    background-color: rgba(99, 99, 138,0.5);

    overflow: hidden;

    backdrop-filter: blur(10px);
}

/* 数量统计 */
.todo_numbers {
    float: right;
    width: 105px;
    white-space: nowrap;
    overflow: scroll left;
}

.todo_number {
    background-color: #cbcbcb;

    font-size: 15px;
    float: left;

    width: 25px;
    height: 25px;
    border-radius: 15px;

    margin: 1px 5px;
    text-align: center;
}

progress {
    float: right;

    width: 80px;

    margin: 5px;
}

/* 顶栏文本 */
.top_text{
    color: rgb(245, 222, 222);
    font-size: 35px;

    left: 10px;
}

.info{
    position: absolute;

    left: 30vw;
    width: 65vw;
}

.text * {
    filter: none;
}

/* 作业类 */
.text {
    margin-bottom: 10px;

    font-size: 22px;

    border-radius: 8px;
    overflow: hidden;

    background-color: rgba(145, 145, 145,0.5);
    backdrop-filter: blur(10px);    
}

.text * {
    user-select: text;
}

/* 工具栏 */
.func {
    margin-bottom: 10px;

    font-size: 22px;

    border-radius: 8px;
    overflow: hidden;

    background-color: rgb(99, 99, 138);
}

/* 类标题 */
.text_title{
    color:rgb(240, 248, 255);
    background-color: rgb(66, 66, 66);
    padding: 5px;
    padding-left: 10px;

    font-size: 25px;
}

/* 类内容 */
.text_info_each{
    border-color: black;
    
    padding: 3px 3px 3px 10px;

    border-top: 1px solid;

    white-space: pre-line;

    overflow: hidden;
}

/* 提示 */
.notice{
    float:right;
    font-size: 0.6em;
    white-space: nowrap;
}

/* 截止 */
.deadline{
    float: right;
    color: #3fbce6;
    /*color: #20db61;*/
    white-space: nowrap;

    background-color: rgb(114, 114, 119);
    border-radius: 5px;
    font-size: 0.85em;
    padding: 0.15em;
    margin-bottom: -0.05em;
}

/* 重要 */
.notice[important]{
    color: #ff8222;
}

a{
    padding: 0.2em;
    color: color-mix(in srgb, currentColor 60%, #389ed1 40%);
    transition: all 0.5s ease 0s;
}

a:hover {
    color: #389ed1;

    text-decoration: none;
}

/* 新按钮 */
.fold_dis{
    background-color: rgb(228, 231, 233);

    padding-left: 5px;
    padding-right: 5px;

    margin-right: 5px;

    border-radius: 3px;

    display: inline-block;

    cursor: pointer;

    transition: all 0.3s ease 0s;
}

.fold_dis[unfold='1']{
    background-color: #727d84;

    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;

    width: auto;

    display: block;

    padding: 10px;
}

.fold_dis:hover{
    background-color: #95a5aa;

}

.fold_dis[unfold='0']{
    user-select: none;
}

