* {
    user-select: none;
}

body {
    --main-color: rgba(235, 240, 240,0.75);
    --info-background-color: rgba(198, 206, 208, 0.4);
    --info-title-color: rgba(240, 248, 248, 0.3);
    
    --theme-color:rgb(122, 169, 236);

    display: flex;

    height: 100vh;

    margin: 0;
}

.wallpaper {
    position: fixed;

    top: -10px;
    left: -10px;

    height: calc(100vh + 20px);
    width: calc(100vw + 20px);

    z-index: -1;

    filter: blur(3px);
}

/* 左侧栏 */
.left {
    margin-top: 20px;
    margin-left: 0;

    flex: 20 30;
}

/* 标题 */
.topic {
    height: 40vh;
    background-color: var(--main-color);
    
    overflow: hidden;

    border-radius: 0px 10px 10px 0px / 0px 10px 10px 0px;

    cursor:pointer;

    transition: all 0.5s ease 0s;
}

.topic[fold] {
    height: 50px;
}

.topic hr {
    margin: 0;
}

/* 日志 */
.log {
    background-color:rgba(235, 239, 245, 0.8);

    white-space: pre-line;

    margin: 12px;
    margin-left:0;
    padding: 10px;

    height: calc(40vh - 95px);

    overflow-y: auto;
    overflow-x: hidden;

    border-radius: 0px 10px 10px 0px / 0px 10px 10px 0px;
}

/* 菜单栏主体 */
.menu_info {
    margin-top: 20px;
    margin-bottom: 10px;

    border-radius: 8px;

    background-color: var(--main-color);

    height: 50px;
    overflow: hidden;

    transition: all 0.5s ease 0s;
}
.menu_info[selected] {
    height: 40vh;
}
.menu_info hr {
    margin: 0;
}

/* 菜单展开正文 */
.menu_info_each {
    height: calc(40vh - 50px);

    padding: 10px;
    padding-bottom: 0;

    overflow-y: auto;
}
.menu_info_each ol,ul {
    margin: 0;
    padding-left: 20px;
}

/* 菜单栏 */
.menu {
    height: 50px;
    font-size: 22px;

    overflow: hidden;
    display: flex;
    align-items:center;
}

/* 菜单项目 */
.func {
    flex: 10;

    height: 42px;
    padding-top: 8px;

    border: 0px solid #3fbce6;

    text-align: center;

    transition: all 0.5s ease 0s;
}

.func:hover,.func[selected] {
    flex: 15;
    border-bottom: 10px  solid var(--theme-color);

    cursor:pointer;
}
.func[selected] {
    border-bottom-width: 5px;
}

.menu hr {
    height: 0.6em;
}

/* 概况 */
.left_info {
    margin: 10px;
    padding: 5px;

    border-radius: 5px;

    background-color: var(--info-background-color);

    overflow: hidden;

    backdrop-filter: blur(10px);
}

/* 数量统计 */
.todo_numbers {
    float: right;
    width: 105px;
    white-space: nowrap;
    overflow: scroll left;
}

.todo_number {
    background-color: var(--main-color);

    font-size: 15px;
    float: left;

    width: 25px;
    height: 25px;
    border-radius: 15px;

    margin: 1px 5px;
    text-align: center;

    cursor: help;
}

/* 概况条 */
.overview_bar {
    margin: 20px 0;
    margin-right: 5px;

    border-radius: 8px;

    flex: 0 0 7px;

    background-color: var(--info-background-color);

    overflow: hidden;
    /* padding: 0 2px; */
    
    display: flex;
    flex-direction: column;
}

/* 总览条单元 */
.overview_bar * {
    flex: 1;
    background-color: var(--main-color);
    
    margin-left: 1px;
    margin-right: 1px;

    margin-bottom: 2px;

    transition: all 0.1s ease 0s;
}
.overview_bar *:last-child {
    margin-bottom: 0;
}
.overview_bar *[selected] {
    /* border-left: 2px solid var(--theme-color); */
    /* border-right: 2px solid var(--theme-color); */
    margin-left: 3px;
    margin-right: 3px;
}

progress {
    float: right;

    width: 80px;

    margin: 5px;
}

/* 顶栏文本 */
.top_text{
    color: var(--theme-color);
    font-size: 35px;

    left: 10px;

    white-space: nowrap;
}

.info{
    padding-left: 15px;
    padding-right: 5px;

    overflow-y:auto;

    flex: 80 70;
}

.info::-webkit-scrollbar {
    display: none;
}

.text * {
    filter: none;
}

/* 作业类 */
.text {
    margin-bottom: 10px;
    padding: 5px;

    font-size: 22px;

    border-radius: 8px;
    overflow: hidden;

    background-color: var(--info-background-color);
    backdrop-filter: blur(5px);
}

.text * {
    user-select: text;
}

/* 类标题 */
.text_title{
    background-color: var(--info-title-color);
    padding: 5px;
    padding-left: 10px;

    font-size: 25px;
    border-radius: 5px;
}

/* 类内容 */
.text_info_each{
    padding: 3px 3px 3px 10px;
    margin: 8px 0;

    border-left: 3px solid var(--main-color);

    /* border-top: 1px solid; */

    white-space: pre-line;

    overflow: hidden;
}

/* 提示 */
.notice{
    float:right;
    font-size: 0.6em;
    white-space: nowrap;
}

/* 截止 */
.deadline {
    float: right;
    color: #3fbce6;
    /*color: #20db61;*/
    white-space: nowrap;

    background-color: rgb(146, 153, 156);
    border-radius: 5px;
    font-size: 0.85em;
    padding: 0.15em;
}

/* 重要 */
.notice[important]{
    color: #ff8222;
}

a{
    padding: 0.2em;
    color: color-mix(in srgb, currentColor 60%, #389ed1 40%);
    transition: all 0.5s ease 0s;
}

a:hover {
    color: #389ed1;

    text-decoration: none;
}

/* 新按钮 */
.fold_dis{
    background-color: rgb(228, 231, 233);

    padding-left: 5px;
    padding-right: 5px;

    margin-right: 5px;

    border-radius: 3px;

    display: inline-block;

    cursor: pointer;

    transition: all 0.3s ease 0s;
}

.fold_dis[unfold='1']{
    background-color: #c6dcf4;

    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;

    width: auto;

    display: block;

    padding: 10px;
}

.fold_dis:hover{
    background-color: #b4c8cf;
}

.fold_dis[unfold='0']{
    user-select: none;
}
